# This file contains all the environment variables that are used by the bot.

# For production use, set NODE_ENV to production
# For development use, set NODE_ENV to development
NODE_ENV=development

# Required: Login credentials for the bot
# Retrieve your bot token and application id from https://discordapp.com/developers/applications/me
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_APPLICATION_ID=YOUR_DISCORD_BOT_APPLICATION_ID
DISCORD_GUILD_ID=YOUR_DISCORD_GUILD_ID  #discord guild id for registering guild commands.


# API Keys for bot lists
DBL_API=YOUR_DBL_AUTH_KEY

#  Currently the bot is connected to two different Database for the bot and for the website
DATABASE_BEATS_BOT_URI=DATABASE_CONNECTION_STRING_FOR_BOT
DATABASE_BEATS_WEB_URI=DATABASE_CONNECTION_STRING_FOR_WEB

# Optional: Only change this if you know what you are doing
NODE_OPTIONS=
UV_THREADPOOL_SIZE=